<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The css style sheet -->
    <link rel="stylesheet" href="template.css">

    <!-- Navigation bar. Your html file must be the same name as the green font in the href="" -->
    <div class="topnav" id="myTopnav">
      <a href="home.html" class="active">Home</a>
      <a href="tips.html">Tips</a>
      <a href="amusement.html">Amusement</a>
      <a href="games.html">Games</a>
      <a href="TalkToUs.html">Talk To Us</a>
      <a href="AboutUs.html">About Us</a>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
    </div>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Courgette|Encode+Sans+Condensed|Righteous|Shadows+Into+Light+Two" rel="stylesheet">

  </head>
  <body>
    <div class="bod"> This is where the body text goes.</div>
    <script src="template.js"></script>
  </body>
</html>
