/* fonts to use from, copy and paste the font you want
font-family: 'Righteous', cursive;
font-family: 'Abril Fatface', cursive;
font-family: 'Courgette', cursive;
font-family: 'Encode Sans Condensed', sans-serif;
font-family: 'Shadows Into Light Two', cursive;
*/

/* Color palette
#F7FF70  YELLOW
#FFC3BD PINK
#91EC9E GREEN
#D8FFDF LIGHT BLUE
#66C8D1 BLUE */

/* new color pallete
#ff8773 light to
#dc7772
#bc6972
#9b5c72
#7d4e73 dark sunset*/

/* Vivian's code */
html {
  overflow-y: scroll;
}
body{
  background-color: #ff8773;
  margin: 0;
  font-family: 'Righteous', cursive;
}
.header h1{
  font-family: 'Righteous', cursive;
  background-color: #bc6972;
  margin: 0;
  font-size: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #472b41;
}
.text {
  margin: 0;
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 23px;
  background-color: #ff8773;
  text-align: center;
  font-weight: bold;
  color: #2f2b47;
}
/* Navigation Bar style */
.topnav {
  overflow: hidden;
  background-color: #bc6972;
  font-family: 'Righteous', cursive;
}

.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #dc7772;
  color: white;
}

.active {
  background-color: #ff8773;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
/*End of navigation bar*/

.bod {
  font-family: 'Encode Sans Condensed', sans-serif;
  color: grey;
  text-align:center ;
  font-size: 15px;
  font-weight: normal;
}

/* game area */
canvas { background: pink; display: block; margin: 10px; }
.wrapper {
    text-align: center;
}
/* button position */
.button {
    position: absolute;
    top: 50%;
}
footer{
  text-align: center;
  font-family: 'Encode Sans Condensed', sans-serif;
  position:fixed;
  bottom:0;
  font-weight: normal;
  font-size: 15px;
  color: grey;
  font-style: normal;
}

/* Assiton's code */
.report{
  border: 2px solid #ffffff;
  background-color: #ffdab9;
  border-radius: 15px;
  padding: 5px;
  margin: 10px 100px 10px 100px;
  width: 55%;
}

.container {
    border: 2px solid #ffffff;
    background-color: 	#ADD8E6;
    border-radius: 15px;
    padding: 5px;
    margin: 10px 100px 10px 100px;
    width: 55%;
}
.therapists{
  border: 2px solid #ffffff;
  background-color: 	#ADD8E6;
  border-radius: 15px;
  padding: 5px;
  margin: 10px 100px 10px 100px;
  width: 55%;
}

}
/* Darker chat container */
.darker {
    border-color: 	#ffffff;
    background-color: 	#ffdab9;

}

.alignRight{
  float:right;
    background-color: 	#ffdab9;

}
.alignLeft{
  float:left;

    background-color:	#ADD8E6;

}

/* Clear floats */
.container::after {
    content: "";
    clear: both;
    display: table;
}

/* Style images */
.container img {
    float: left;
    max-width: 100px;
    width: 50%;
    margin-right: 30px;
    border-radius: 20%;

}

/* Style the right image */
.container img.right {
    float: right;
    margin-left: 80px;
    margin-right:30px;
}

/* Style time text */
.time-right {
    float: right;
    color: 	#ffdab9;
}

/* Style time text */
.time-left {
    float: left;
    color: #ADD8E6;
}
p{font-size:15pt ;
  color: #004080;
   font-family: 'Rajdhani', sans-serif;
   text-align: center;

}
div{
  text-align: center;
}

/* Lawren's Code */
/* Style the tab */
.tab {
    overflow: hidden;
    border: none;
    background-color: #FFC3BD;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #D8FFDF;
  color: grey;
  border: none;
  border-top: none;
  outline: none;
  border-bottom: none;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #66C8D1;
  color: white;
  border: none;
  border-top: none;
  outline: none;
  border-bottom: none;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: none;
    border-top: none;
    outline: none;
    border-bottom: none;
}

.Amused {font-size: 60px}
h2 {font-size: 30px}
h1{font-size: 80px}

/*
Rhema's code */
.center {

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;

}


/* doomAsRain */
/* html{height:100%;}
body {
background:#ff8773;
/* background:-webkit-gradient(linear,0% 0%,0% 100%, from(rgba(13,52,58,1) ), to(#000000)  );
background: -moz-linear-gradient(top, rgba(13,52,58,1) 0%, rgba(0,0,0,1) 100%); */
/* overflow:hidden;}


.drop {
  background:-webkit-gradient(linear,0% 0%,0% 100%, from(rgba(13,52,58,1) ), to(rgba(255,255,255,0.6))  );
  background: -moz-linear-gradient(top, rgba(13,52,58,1) 0%, rgba(255,255,255,.6) 100%);
	width:1px;
	height:89px;
	position: absolute;
	bottom:200px;
	-webkit-animation: fall .63s linear infinite;
  -moz-animation: fall .63s linear infinite;

}

/* animate the drops*/
/* @-webkit-keyframes fall {
	to {margin-top:900px;}
}
@-moz-keyframes fall {
	to {margin-top:900px;} */
/* } */
